/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
* {
  margin: 0;
  padding: 0;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
  * Show the overflow in IE.
  * 1. Show the overflow in Edge.
  */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
  * Remove the inheritance of text transform in Edge, Firefox, and IE.
  * 1. Remove the inheritance of text transform in Firefox.
  */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
  * Correct the inability to style clickable types in iOS and Safari.
  */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
.App {
  display: flex;
  height: 100vh;
  justify-content: center;
  flex-direction: column;
}

body {
  background-color: #e5e5e5;
}
#main {
  display: flex;
  justify-content: center;
  align-items: center;
}
#heading {
  display: flex;
  justify-content: center;
  align-items: center;
}
#container {
  width: 889px;
  height: 500px;
  background-color: #009688;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-box-shadow: -8px 2px 5px -4px rgba(51, 38, 38, 0.75);
}
#container > p {
  font-size: 30px;
  color: aliceblue;
}
#number {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 400px;
  /* align-items: center; */
}
.flag-code {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
}
#flag {
}
#flag > img {
  height: 40px;
  width: 60px;
  margin-bottom: 30%;
  border-radius: 5px;
  -webkit-box-shadow: -5px 2px 5px 0px rgb(69 71 86 / 75%);
}
/* #number > #flag {
  margin-right: 20px;
  zoom: 2;
} */
#container > button {
  padding: 15px;
  margin-top: 35px;
}

.text {
  height: 40px;
  background-color: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.text > p > strong {
  color: #009688;
}
.text > p {
  font-size: 18px;
}

.shadow {
  border-radius: 5px;
  -webkit-box-shadow: -2px 2px 5px 2px rgb(69 71 86 / 75%);
}

#countries {
  width: 130px;
  padding: 8px;
  font-size: 20px;
  border-radius: 7px;
  -webkit-box-shadow: -2px 2px 5px 2px rgb(69 71 86 / 75%);
}
.countries {
  margin-bottom: 10%;
}
.input {
  margin-bottom: 15%;
  display: flex;
  justify-content: center;
}
.input > input {
  border: none;
}
.input > input:focus {
  outline: 0;
}
#mobile-number {
  padding: 8px;
  font-size: 19px;
}
#message {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  border-radius: 5px;
  -webkit-box-shadow: -2px 2px 5px 2px rgb(69 71 86 / 75%);
  border: none;
}

#message:focus {
  outline: 0;
}

#message:active {
  transform: scale(0.98);
}

#message img {
  height: 21px;
}
#message span {
  margin-left: 10px;
  font-size: 20px;
}

footer {
  width: 869px;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  font-size: 18px;
  background-color: rgba(0, 150, 136, 0.4);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-box-shadow: -2px 2px 5px 2px rgb(69 71 86 / 75%);
}

.logo {
  width: 52px;
  height: 52px;
}

@media (max-width: 750px) {
  #container {
    width: 90%;
    height: auto;
    padding: 5%;
  }

  #container > p {
    font-size: 24px;
    color: aliceblue;
    text-align: center;
  }

  #number {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 365px;
    height: 149px;
    margin: 0;
  }
  footer {
    width: 90%;
    padding: 5%;
    text-align: center;
  }
  #number > #flag,
  #countries {
    margin-right: 0;
  }
  #mobile-number {
    text-align: center;
  }
}
